@font-face 
{
    font-family: Circular STD N;
    src: url(Fonts/circular-std-7.ttf);
}

@font-face 
{
    font-family: Circular STD B;
    src: url(Fonts/circular-std-5.ttf);
}

@font-face 
{
    font-family: Caveat;
    src: url(Fonts/Caveat-VariableFont_wght.ttf);
}

* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.oui
{
    width: 50px;
    height: 50px;
}


.Header
{
    background-color: #EDE5BB;
    padding: 10px 0;
}

.NavBar 
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    font-size: 30px;
}

.NavBar a
{
    text-decoration: none;
    color: #95261F;
}

.NavBar li:nth-child(1)
{
font-family: 'Circular STD B', serif;
font-size: 40px;
}

.NavBar li:nth-child(2)
{
    font-family: 'Circular STD N', serif;
    font-size: 40px;
}

.NavBar li:nth-child(4)
{
    font-family: 'Circular STD N', serif;
    font-size: 38px;
}

.NavBar li:nth-child(5)
{
    font-family: 'Circular STD N', serif;
    font-size: 38px;
}

.home
{
    font-weight: bold;
}

.content 
{
    background-image: url(images/home\ page.png); 
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text
{
    text-align: center;
    color: #EDE5BB;
    font-family: 'Caveat' , serif;
}

.content h1 
{
    font-size: 60px;
    margin-bottom: 10px;
    font-weight: 200;
}

.content p 
{
    font-size: 60px;
    font-weight: 200;
}



